 <footer class="text-center text-white mt-4" style="background-color: #152c66;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register on Gasfast for free</span>
           <%= link_to "Sign Up!", class: "btn btn-outline-light btn-rounded" %>
         
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->
     <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://gasfast.org/">Gasfast</a>
    </div>
    <!-- Copyright -->
  </footer>

